<ion-header>
  <app-header [hideMenu]="true" [back]="false" [close]="true" [title]="'Adicionar Chave'"></app-header>
</ion-header>
<ion-content>
    <div class="container cor-tema">
      <div class="row justify-content-center mt-3 mb-4">
        <ion-item class="col-7 mt-4">
          <ion-label position="floating">Nome</ion-label>
          <ion-input [(ngModel)]="nomeChave"></ion-input>
        </ion-item>
        <!-- <ion-item class="col-7 mt-4">
          <ion-label position="floating">Codigo</ion-label>
          <ion-input></ion-input>
        </ion-item> -->
      </div>
      <div class="row justify-content-center mt-5">
        <ion-button color="success" (click)="concluir(true)">
          <ion-icon name="md-add-circle" slot="start"></ion-icon>
          Salvar
        </ion-button>
        <ion-button color="danger" (click)="concluir(false)">
          <ion-icon name="md-remove-circle" slot="start"></ion-icon>
          Cancelar
        </ion-button>
      </div>
    </div>
  </ion-content>