<!-- <ion-content>
    <div class="container cor-tema">
      <ion-title class="mt-2 mb-5 text-center cor-tema">{{nomeChave}}</ion-title>
      <div class="row justify-content-center mt-3 mb-4">
        <ion-item class="col-7 mt-4">
          <ion-label position="floating">Nome</ion-label>
          <ion-input [value]="nomeChave"></ion-input>
        </ion-item>
        <ion-item class="col-7 mt-4">
          <ion-label position="floating">Codigo</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </div>
      <div class="row justify-content-center mt-5">
        <ion-button color="success">
          <ion-icon name="md-add-circle" slot="start"></ion-icon>
          Salvar
        </ion-button>
        <ion-button color="danger">
          <ion-icon name="md-remove-circle" slot="start"></ion-icon>
          Cancelar
        </ion-button>
      </div>
    </div>
  </ion-content> -->